/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
  width: 100%;
  overflow: hidden; /* 스크롤바 숨김 */
  position: fixed; /* 화면 고정 */
}

@layer base {
  :root { /* 라이트 모드 변수 */
    --color-background: #FFFFFF;
    --color-foreground: #12121E; /* grey-9 */
    --color-primary: #00A0E0;
    --color-gradient-start: #E6FCFF;
    --color-gradient-mid: #73CEEF;
    --color-gradient-end-light: var(--color-primary);
  }

  .dark { /* 다크 모드 변수 */
    --color-background: #212121;
    --color-foreground: #F5F5F5; /* grey-1 */
    --color-primary: #076F99;
    /* 그라데이션은 라이트 모드 변수를 사용하거나, 필요시 --color-*-dark 변수 추가 정의 */
    --color-gradient-end-dark: var(--color-primary);
  }

  body {
    /* CSS 변수를 사용하여 기본 배경/글자색 적용 */
    background-color: var(--color-background);
    color: var(--color-foreground);
    /* 기본 폰트는 layout.tsx 에서 font-sans 클래스로 적용 */
  }

  /* 기본 line-height 전역 적용 */
  h1, h2, h3, h4, h5, h6, p, span, div, li, a, button, input, textarea {
    @apply leading-[150%];
  }
}